@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
      @apply font-primary bg-white text-black leading-loose;
  }
  .h1 {
      @apply text-[38px] xl:text-[58px] leading-[1.1] font-semibold;
  }
  .h2 {
      @apply text-[28px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
      @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline{
      -webkit-text-stroke: 1px #ffffff;
  }
  .text-outline-hover{
      -webkit-text-stroke: 1px black;
  }
}

.EntryViewer {
  z-index: 1; /* Ensure it's below other components */
}

.InputBox {
  z-index: 2; /* Ensure it's above the EntryViewer */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
